<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Task 1</title>

    <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.26.0/babel.js"></script>

    <style>
        .container {
            max-width: 1024px;
            margin: 0 auto;
            padding: 20px;
        }
        .card-movie {
            display: flex;
            margin: 0 auto 30px;
            border: 1px solid black;
            border-radius: 25px;
            width: 400px;
            height: 250px;
            text-align: center;
            background: linear-gradient(to top, #eeedae, #94bbe9);
        }
        .card-body {
            margin: auto;
        }
        .card-body h1 {
            color: greenyellow;
        }
        .card-body p {
            color: white;
        }
        .card-body a {
            color: aqua;
        }
    </style>
</head>
<body>

<div id="movies" class="container"></div>

<script type="text/babel">

    const Movie = props => {
        return (
            <div className="card-movie" style={{ backgroundImage:`url(${props.style})`, backgroundRepeat: 'no-repeat', backgroundSize: '110%' }}>
                <div className="card-body">
                    <h1>{props.title}</h1>
                    <p>Год выпуска: {props.year}</p>
                    <p><a href={props.link}>Смотреть</a></p>
                </div>
            </div>
        );
    };

    const movies = (
        <div>
            <Movie title="Фосаж 5" year="2011" link="https://oc.kg/#/movie/id/28" style="images/fast.jpg"/>
            <Movie title="Гарри Поттер и Орден Феникса" link="https://oc.kg/#/movie/id/113" year="2007" style="images/HP5.jpg"/>
            <Movie title="Смерти вопреки" year="1990" link="https://www.kinopoisk.ru/film/7375/" style="images/hard_to_kill.webp"/>
        </div>
    );

    ReactDOM.render(movies, document.getElementById('movies'));

</script>

</body>
</html>